
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <div class="form-login">
        <h1>Ajouter un hébergement</h1>
        <%= render 'form', accomodation: @accomodation %>
        <div style="margin-right: 30px;">
          <%= link_to 'Retour', trip_accomodations_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>

<script>
function autocomplete() {
  document.addEventListener("DOMContentLoaded", function() {
    var Input = document.getElementById('autocomplete_search');

    if (Input) {
      var input = new google.maps.places.Autocomplete(input, { types: [ 'geocode' ] });
      google.maps.event.addDomListener(input, 'keydown', function(e) {
        if (e.key === "Enter") {
          e.preventDefault(); // Do not submit the form on Enter.
        }
      });
    }

  });
}
function onPlaceChanged() {
  var place = this.getPlace();

  // console.log(place);  // Uncomment this line to view the full object returned by Google API.

  for (var i in place) {
    var component = place[i];
    for (var j in component.types) {  // Some types are ["country", "political"]
      var type_element = document.getElementById(component.types[j]);
      if (type_element) {
        type_element.value = component.long_name;
      }
    }
  }
}

google.maps.event.addDomListener(window, 'load', function() {
  initializeAutocomplete('user_input_autocomplete_address');
});
</script>


</script>
