<h1>Liste des voyages</h1>
<div class="container">
  <div class="row">
    <%@trips.each do |trip| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="row">
          <div class="col-xs-12">
            <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "picture-card-trip.jpg" %>');"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="card-content">
              <div class="trip-title text-center">
                <strong><p><%=trip.title %></p></strong>
              </div>
              <div class="trip-destination">
                <p>Destination : <%=trip.destination %></p>
              </div>
              <div class="pri text-center">
                <%= link_to 'Voir',  trip_path(trip), class: "btn btn-primary"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
