<% if departure %>
  <p> départ le  <%= l travel.start_date, format: :short %> </p>
<% else %>
  <p> arrivée le  <%= l travel.end_date , format: :short %></p>
<% end %>

<p class="strong"><%#= @travel.name %></p>
