<h1>Créez votre voyage</h1>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

        <div class="col-xs-6">
        <div class="card">
          <%= render 'autocomplete_travels' %>
        </div>
      </div>

        <div class="col-xs-6">
        <div class="card">
         <%= render 'form', travel: @travel %>
        </div>
      </div>


      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <%= link_to 'Back', trip_travels_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
