.trip-container {
  display: flex;
}

.left {
  flex: 1;
}

.right {
  flex: 0 0 55%;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}


.show-trip-info-picture {
  background-size: cover;
  background-position: center;
  height: 150px;
  height: 150px;
  margin-bottom: 21px;
  margin-top: -19px;
  margin-left: -19px;
  margin-right: -19px;
}

.icon-info {
 width: 20px;
 height: 20px;
}

.icon-titre {
 width: 30px;
 height: 30px;
}
