<!-- <div class="container" style="margin-top:20px;">
  <div class="row">
        <div class="col-xs-6">
            <h3 class="text-center">Liste des choses à faire</h3>
            <div class="well" style="max-height: 300px;overflow: auto;">
            <ul class="list-group checked-list-box">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item" data-checked="true">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
  </div>
</div> -->


<div class="container" style="margin-top:20px;">


  <div class="row">
    <div class="col-xs-6">
      <h3 class="text-center">Liste des choses à faire</h3>
      <div class="well" style="max-height: 300px;overflow: auto;">
        <% Task.all.each do |task| %>
          <ul class="list-group checked-list-box">
              <% if task.done == true %>
                <li class="list-group-item" data-checked="true"><%=link_to task.title, trip_task_path(@trip, task) %></li>
              <% else %>
                <li class="list-group-item"><%=link_to task.title, trip_task_path(@trip, task) %></li>
              <% end %>

          </ul>
       <% end %>
     </div>
   </div>
 </div>
</div>

<%= link_to 'Add a new task', new_trip_task_path, class: "btn btn-primary" %>








