<h1>Votre note</h1>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="form-login">
        <%= render 'form', diary: @diary %>
        <div style="margin-right: 30px;">
          <%= link_to 'Retour', trip_diaries_path, class: "btn btn-default" %>
        </div>
        </div>
      </div>
    </div>
  </div>

