
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card card-diaries">


          <div class="diary-title text-center">
            <h2><%=@diary.title %></h2>
          </div>

          <div class="diary-description text-center">
            <p><%=@diary.description.truncate_words(12) %></p>
          </div>

          <div class="diary-address-date text-center">
            <p>le<%=@diary.start_date %></p>
          </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Dashboard', trip_path(@trip), class: "btn btn-default" %>
