// #map {
//   flex: 0 0 450px;
//   height: 100vh;
//   position: sticky !important;
//   top: 0 !important;
//   position: relative;
// }

// .map-container {
//   flex: 0 0 450px;
//   height: 100vh;
//   position: sticky !important; /* !important to override Gmaps inline CSS */
//   top: 0 !important;
//   margin-left: 20px;
// }


// #map {
//   position: fixed !important;
// }
// .map-position  {
//     position: fixed;
// }
.icon-map_box {
  width: 30px;
  height: 30px;
  display: block;
  margin-top: 50%;
}
