h1 {
  font-size: 30px;
  line-height: 40px;
  color: black;
}

h2 {
    font-size: 20px;
    line-height: 30px;
    color: black;
}

p {
  font-size: 15px;
  line-height: 20px;
}

h3 {
  font-size: 18px;
  line-height: 25px;
}

body {
  background-color: white;
}

// a {
//   font-size: 20px;
//   color: $light-gray;
//   &:hover {
//     color: black;
//   }

// }

