h1 {
  font-size: 30px;
  line-height: 40px;
  color: black;
  text-align:center;
}

h2 {
    font-size: 20px;
    line-height: 30px;
    color: black;
}

p {
  font-size: 15px;
  line-height: 20px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

body {
  background-color: white;
}

.full-screen {
  min-height: calc(100vh - 170px);
}
// a {
//   font-size: 20px;
//   color: $light-gray;
//   &:hover {
//     color: black;
//   }

// }

em {
    font-style: normal;
    text-transform: uppercase;
    color: $blue;
}



