<div class="footer">
  <div class="container-fluid">
    <div class="row full-width">
      <div class="col-md-4 text-center">
        <div class="footer-copyright" >
          <a href="/" class="footer-wagon-brand ">
            <%= image_tag 'logo-short.png' %>
          </a>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="footer-organisation">
          <ul>
            <p>Préparer votre voyage devient tellement plus simple <i class="fas fa-plane"></i></p>
          </ul>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
