<div>
  <video autoplay loop class="fillWidth">
    <source  src="<%= video_url("two-swimmers.mp4") %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="<%= video_url("two-swimmers.webm") %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
  <div class="banner-absolute-container">
    <div class="banner">
      <div class="banner-content">
        <h1>You’re unique personal<br>trip assistant</h1>
        <h2><span id="banner-typed-text"></span></h2>
        <% if user_signed_in? %>
          <%= link_to "Mes voyages", trips_path, class: "btn btn-trip" %>
        <% else %>
          <%= link_to "Let's go !", new_trip_path, class: "btn btn-trip" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
