.two-card-container {
  color: black;
  border: 3px solid #999999;
  padding: 20vh 5vh;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.6;
  margin-left: 10vh;
  margin-top: 10vh;
}

.two-card-title {
  p {
  color: black;
  margin:auto;
  }
}

.carrousel-card {
  color: black;
  border: 3px solid #999999;
  padding: 86px 92px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5vh;
}
