.two-card-container {
  padding: 20px;
  color: #242424;
  font-weight: lighter;

  h2 {
    color: black;
    font-weight: 500;
  }
}

// --------------------------cards global----------------------------------

.card {
  border-radius: 1px;
  // margin: 15px 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  font-size: 25px;
  flex: 1 1 auto;
  background-color: $light-gray;
  margin-top: 20px;
  margin-bottom:-8px;
  position: relative;
}

// -------------trips cards----------------------------------------
.card-trip {
  min-height: 372px;

  .trips-card-new {
  background-color: $light-gray;
  }

  .card-picture {
    background-size: cover;
    background-position: center;
    height: 150px;
  }

  .trip-index-card-content {

    .trip-title {
      width: 100%;
      margin-top: 10px;
    }

    .trip-btn-new {
     margin-top: 50%;
    }

    .trip-destination {
    margin-top: 10px;
    }

    .trip-date {
    margin-top: 10px;
    }

    .trip-btn {
    margin-right: 34px;

      .btn {
      width: 100%;
      }
    }
  }
}

// -------------diary cards----------------------------------------

.card-diaries {
  min-height: 280px;
  height: auto;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  position: relative;

  .diary-title {
    width: 100%;
    margin-top: 10px;
  }

  .diary-btn {
     position: absolute;
     bottom: 0;
     width: 88%;
     padding-left: 10px;
     padding-right: 10px;
    .btn {
      width: 100%;
    }
  }
}

.diary-card-new {
  background-color: $light-gray;
  min-height: 280px;

  .diary-btn-new {
    padding-top:30%;
  }
}

// @media (max-width: 1200px)
// {
//   .card-diaries {
//     min-height: 320px;
//     height: auto;
//   }
// }


// @media (max-width: 992px)
// {
//   .card-diaries {
//     min-height: 380px;
//     height: auto;
// //   }
// }

