.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
// .text {
//   position: fixed;
//   top: calc(70px + 40vh);
//   z-index: 1000;
//   text-align: center;
//   h1 {
//     color: white !important;
//     width: 100vh;
//   }
// }


.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 10;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.banner-absolute-container {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
}
.banner {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 10px;
  padding-top: 35px;
}

.banner-content {
  width: 100%;
  h1 {
    font-size: 6em;
    line-height: 0.9em;
    color : white;
  }
}

.fillWidth {
    border-right: none;
    border-left: none;
    top: 0px;
    width: 100%;
    height:100vh;
    margin-top: -70px;
    z-index:-1;
    position:relative;
    object-fit: cover;
}
.big-h1{
  color:#c58882;
  font-size: 42px;
}
.scd-h1 {
  font-size: 20px;
}
