// .form-control {
//   font-size: 0.8em;
//   line-height: 18px !important;
//   letter-spacing: normal !important;
//   cursor: pointer !important;
//   height: 48px !important;
//   text-align: center !important;
//   width: 25vw;
//   background: white !important;
//   border-width: 0.5px !important;
//   border-radius: 5px !important;
//   padding: 7px 8px !important;
//   margin: auto;
//   margin-top: 3vh;
// }
// .my-form-box {
//   padding: 24px;
//   text-align: center !important;
//   border: 3px solid $blue;
//   border-radius: 15px;
//   width: 47vh;
//   height: 53vh;
// }

.form-group {
  label {
  font-size: 1em;
  }
  .form-check-label {
    padding-left: 1em;
  }
}

.form-control {
  font-size: 0.8em;
}

label {
  font-weight: normal;
}
